body {
  display: flex;
  justify-content: center;
  background-image: url('../assets/lab-background.jpeg');
  background-position: center;
  background-size: cover;
}
h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40pt;
  color: black;
  animation: color-changer 5s linear infinite ;
}
.story {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 28%;
  text-align: center;

}
p {
  animation: story-animation 3s linear forwards ;
  font-family: 'Explora', cursive;
  font-weight: 600;
  font-size: 17px;
  line-height: 36px;
  padding: 70px;
  background-image: url('../assets/notepaper.png');
  background-position: center;
  background-size: cover;
}
a {
  animation: button-animation 2s linear infinite;
  text-decoration: none;
  font-size: 40px;
  color: black;
}


button {
  background-image: url('../assets/pill\ button.png');
  font-family: 'Permanent Marker', cursive;
  background-position: center;
  background-size: cover;
  height: 13vh;
  border-radius: 45px;
}

.image {
  display: flex;
  justify-content: center;
  flex-direction: column;
}



@keyframes button-animation {
  0% {
    color: white;
  }
  100% {
    color: black;
  }
}



@keyframes color-changer {

  0%{
    color: rgb(22, 113, 17);
  }

  50%{
    color: rgb(0, 255, 94);

  }

  75%{
    color: rgb(91, 216, 1);
  }

  100%{
    color: rgb(71, 157, 9);
  }

}

@keyframes story-animation {

  0%{
    font-weight: 200;
    color: white;
  }

  25%{
    font-weight: 300;
    color: yellow;
  }

  50%{
    font-weight: 400;
    color: orangered;

  }

  75%{
    font-weight: 500;
    color: rgb(152, 40, 0);
  }

  100%{
    font-weight: 600;
    color: rgb(0, 0, 0);
  }

} 