
body {
  height: 100vh;
  margin: 0;
  margin-bottom: 10px;
  background-image: url('../assets/lab-background.jpeg');
  background-position: center;
  background-size: cover;
}

.grid-wrapper {
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
}

.grid {
  border-radius: 30px;
  background-image: url('./assets/game-bakcground.jpeg');
  background-position: center;
  background-size: cover;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 30vw;
} 

.grid div {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.synergie {
  background-image: url('/assets/syrengie.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
}
h1 {
  animation: color-changer 5s linear infinite ;
}
.main-section {
  display: flex;
  flex-direction: column;
}
.player-info {
  font-family: 'Explora', cursive;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  width: 20vw;
  font-size: 17pt;
  line-height: 45pt;
  background-image: url('./assets/notepaper.png');
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40pt;
  color: black;

}

p {
  animation: story-animation 3s linear forwards ;
}
.grid div.virus {
  background-image: url('/assets/virus.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.virus2 {
  background-image: url('/assets/virus2.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}
.explosion {
  background-image: url('./assets/explosion.png');
  background-size: cover;
  background-position: center;
}

.laser {
  background-image: url('./assets/laser2rotated.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bomb {
  background-image: url('./assets/bomb-explode.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


@keyframes color-changer {

  0%{
    color: rgb(22, 113, 17);
  }

  50%{
    color: rgb(0, 255, 94);
    
  }

  75%{
    color: rgb(91, 216, 1);
  }

  100%{
    color: rgb(71, 157, 9);
  }
  
}

@keyframes story-animation {

  0%{
    font-weight: 200;
    color: white;
  }

  25%{
    font-weight: 300;
    color: yellow;
  }

  50%{
    font-weight: 400;
    color: orangered;
    
  }

  75%{
    font-weight: 500;
    color: rgb(152, 40, 0);
  }

  100%{
    font-weight: 600;
    color: rgb(0, 0, 0);
  }
  
}