* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  margin-bottom: 10px;
  background-image: url('../assets/lab-background.jpeg');
  background-position: center;
  background-size: cover;
}

.grid-wrapper {
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 30vw;
} 

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.cat {
  background-image: url('/assets/syrengie.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
}

.main-section {
  display: flex;
  flex-direction: column;
}
.player-info {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  padding: 50px;
  font-size: 17pt;
  line-height: 45pt;
  background-image: url('../assets/notepaper.png');
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40pt;
  color: black;

}