* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  margin-bottom: 10px;
  background-image: url('../assets/lab-background.jpeg');
  background-position: center;
  background-size: cover;
}

.grid-wrapper {
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
}

.grid {
  border-radius: 30px;
  background-image: url('../assets/thumb2-blue-science-background-dna-molecule-background-chemistry-background-blue-neon-background-science-texture.jpeg');
  background-position: center;
  background-size: cover;
  align-items: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 30vw;
} 

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.synergie {
  background-image: url('/assets/syrengie.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
}

.main-section {
  display: flex;
  flex-direction: column;
}
.player-info {
  font-family: 'Explora', cursive;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  width: 20vw;
  font-size: 17pt;
  line-height: 45pt;
  background-image: url('../assets/notepaper.png');
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40pt;
  color: black;

}

.grid div.virus {
  background-image: url('/assets/virus.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.explosion {
  background-image: url('../assets/explosion.png');
  background-size: cover;
  background-position: center;
}

.laser {
  background-image: url('../assets/laser2rotated.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bomb {
  background-image: url('../assets/bomb-explode.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}